<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>

    <title>DataTables</title>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DataTables</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/activities/index">Basic</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="active"><a href="/activities/aggregated">Aggregated <span class="sr-only">(current)</span></a></li>
                <li><a href="/activities/daily">Daily</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <table id="activities" class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Service</th>
            <th>Album</th>
            <th>Book Publisher</th>
            <th>Artist</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Count</th>

        </tr>
        </thead>
    </table>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script>
    $('table#activities').DataTable({
        ajax: '/rest/activities/aggregated',
        serverSide: true,
        searching: true,
        columns: [
            {
                data: 'date'
            },
            {
                data: 'service'
            },
            {
                data: 'album'
            },
            {
                data: 'bookPublisher'
            },
            {
                data: 'artist'
            },
            {
                data: 'author'
            },
            {
                data: 'publisher',
                render: function (data) { return data; }
            },
            {
                data: 'count'
            }
        ]
    });
</script>

</body>
</html>